In [5]:
import pandas as pd

In [7]:
pf=pd.read_csv("titanic.csv")
pf.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [11]:
pf=pf.drop(["PassengerId","Name","SibSp","Cabin","Embarked","Parch","Ticket"],axis="columns")

KeyError: "['PassengerId', 'Name', 'SibSp', 'Cabin', 'Embarked', 'Parch'] not found in axis"

In [12]:
pf.head()

   Pclass     Sex   Age            Ticket     Fare  Survived
0       3    male  22.0         A/5 21171   7.2500         0
1       1  female  38.0          PC 17599  71.2833         1
2       3  female  26.0  STON/O2. 3101282   7.9250         1
3       1  female  35.0            113803  53.1000         1
4       3    male  35.0            373450   8.0500         0

In [15]:
pc=pf.drop(["Ticket"],axis="columns")
pc.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [16]:
target= pc.Survived
inputs=pc.drop("Survived", axis="columns")
inputs.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [25]:
dummies= pd.get_dummies(pc.Sex)
dummies.head()

   female   male
0   False   True
1    True  False
2    True  False
3    True  False
4   False   True

In [26]:
inputs=pd.concat([inputs,dummies],axis="columns")
inputs.head()

,Pclass,Sex,Age,Fare,female,male,female,male,female,male,female,male
0,3,male,22.0,7.2500,False,True,False,True,False,True,False,True
1,1,female,38.0,71.2833,True,False,True,False,True,False,True,False
2,3,female,26.0,7.9250,True,False,True,False,True,False,True,False
3,1,female,35.0,53.1000,True,False,True,False,True,False,True,False
4,3,male,35.0,8.0500,False,True,False,True,False,True,False,True

In [27]:
f_input=inputs.drop(["Sex"], axis="columns")

In [28]:
f_input.head()

,Pclass,Age,Fare,female,male,female,male,female,male,female,male
0,3,22.0,7.2500,False,True,False,True,False,True,False,True
1,1,38.0,71.2833,True,False,True,False,True,False,True,False
2,3,26.0,7.9250,True,False,True,False,True,False,True,False
3,1,35.0,53.1000,True,False,True,False,True,False,True,False
4,3,35.0,8.0500,False,True,False,True,False,True,False,True

In [31]:
f_input.columns[f_input.isna().any()]

Index(['Age'], dtype='object')

In [32]:
f_input.Age=f_input.Age.fillna(f_input.Age.mean())

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(f_input,target,test_size=0.2)

In [34]:
from sklearn.naive_bayes import GaussianNB
cf=GaussianNB()
cf.fit(X_train,y_train)

GaussianNB()

In [35]:
cf.score(X_test,y_test)

0.7653631284916201